<div class="container">

    <div class="row">
        <div class="col-md-12 flex-column">
            <div class="main d-flex justify-content-center ">
                 <img src="../assets/April'sQuiltingCottage.png" alt="" height="75px" width="75px">
            <h1 class="align-self-center" >April's Quilting Cottage</h1>
            </div>
            <div class="menu">
                <ul class="d-flex justify-content-center">
                    <li><a mat-list-item routerLink="/home" >Home</a></li>
                    <li><a mat-list-item routerLink="/gallery" >Gallery</a></li>
                    <li><a mat-list-item routerLink="/order" >Order</a></li>
                    <li><a mat-list-item routerLink="/pricing" >Pricing</a></li>
                </ul>

            </div>
           
        </div>
    </div>

</div>



