<div class="container">
    <div class="row">
        <div class="col m-3">

            <mat-accordion>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       <h3>Patterns/Designs</h3>
                      </mat-panel-title>
                      <mat-panel-description>
                       
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <pre>
                        Choosing a pattern can sometimes be the most difficult part of the process. If you are unsure and need
                        help designing your quilt, please feel free to email or text me. I am always happy to help! You can also
                        write &quot;quilters choice&quot; on the order form and just tell me what price range to stay in. Please note that if
                        you would like your quilting design to go a specific direction on the quilt, please pin a note to the north.
                        *A note for Free-motion custom quilting. If you would like me to custom quilt for you. Please
                        understand that all custom projects will be left up to my discretion how it is quilted. Feel free to give
                        any input or preference on design you want incorporated, but at the end of the day I have complete
                        creative control over the quilt.
                        Computerized Catalog:
                        If you don&#39;t see a design that you want, I will gladly split the cost of a new design. Here are a couple of
                        our favorite websites, click to visit:
                        Intelligent Quilting
                        Urban Elementz
                    </pre>
                  </mat-expansion-panel>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       <h3>Quilt Prep Guidelines:</h3>
                      </mat-panel-title>
                      <mat-panel-description>
                        Instructions on how to prepare for your quilt.
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <pre>
                        To assure a quality finished product and minimize your cost, please follow these basic guidelines.
                        -Please make sure your quilt backing is 4&quot; bigger than your quilt top on all sides. If your backing is not 4&quot;
                        bigger on all sides I will contact you and options can be discussed to either have you add on more fabric
                        or I can sew extra leads on, which will not match your backing, but can be cut off before binding.
                        -Your top must be clean, pressed well making sure all seams are pressed flat, points and threads clipped
                        and removed or they may show through later. Please also remove pins or basting threads.
                        -Please make sure the quilt top is pressed and lays flat to prevent puckering.
                        -Square up and trim quilt top to its final size measuring the same amount in 3 places in both directions.
                        -Measure and press backing fabric. Please remember, it should measure 8&quot; larger than your top.
                        Please make it known when dropping off your quilt if your quilt top and/or backing is directional. If the
                        backing has borders or insets that need to be centered, a $20 charge will be applied per quilt. *See
                        order form.
                        Please keep extra embellishments off of your quilt until after quilting if possible.
                        *I do our best to provide you with the highest quality quilting. However, I am not responsible for any
                        damage to your quilt due to piecing errors such as unsewn seams, loose threads, fullness of borders,
                        irregular materials, et cetera.
                        
                        Quilt top
                        If you are planning on using buttons or other embellishments it is best to add them after the quilt is
                        quilted. Some appliques are okay to add, but not all appliques can be quilted through. Make sure to clip
                        all threads especially dark threads that may show through lighter fabric. Please make sure there are no
                        holes in any seams or any pins in the quilt top.
                        The backing &amp; batting;
                        It is very important to make your backing and batting are bigger than your quilt top. Please make sure it
                        is as close to 4&quot; bigger on each side as possible for both batting and backing. Bigger is not always better
                        because its difficult to pin on a king size backing for a twin size quilt.
                        *I cannot guarantee the outcome of any backings that are pieced. I love to piece my backings, but I
                        cannot control how it rolls on the machine. I gladly accept quilts with pieced backings as long as you are
                        aware I am not responsible for the outcome.
                        *It is very important to note on your Customer Worksheet form if there is a specific way you would like
                        the backing to line up with your quilt top. It is helpful to pin a note to the quilt top and backing, showing
                        which sides are the north.
                        * Please square up your backing so it can be pinned on straight.
                        *Please DO NOT baste your quilt. I have a specific way I have to load the quilt on and am unable to
                        guarantee the integrity of the quilting if it is basted first.
                    </pre>
                  </mat-expansion-panel>


                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       <h3> Drop Off / Shipping</h3>
                      </mat-panel-title>
                      <mat-panel-description>
                       How to get it back to you
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <pre>
                        Submit a request before you drop your quilt off or send an email. You can also print off a form and mail
                        it with your quilt. It makes the process a little easier for me. If you are unsure of design or batting, you
                        can discuss them when you drop off. Based on these specifications, exact pricing will be determined.
                        You can estimate the cost of your quilt using our pricing page. If you have any special concerns or
                        requests, feel free to call or e-mail.
                        Shipping Preparation Guidelines
                        You are responsible for cost of shipping and shipping insurance.
                        I suggest that you have at least $250 insurance on your package. Once you send your package to us,
                        please provide us with your packages tracking number.
                        When preparing your quilt to be shipped, please wrap it in layers of plastic to protect it from possible
                        discoloration from the shipping box. I suggest using heavy duty garbage bags. Remember to include your
                        backing and batting if I am not providing the batting. USPS and UPS are the most affordable options for
                        shipping.
                        Shipping Address:
                        April’s Quilting Cottage
                        Attn: April Johnson
                        807 South 1680 West
                        
                        Orem, Utah 84059
                        Pick up or return shipping
                        As soon as your quilt is finished, I will contact you and arrange pickup. If shipping, I will email you an
                        invoice and payment arrangements made.
                        *Disclaimer
                        Please be aware that the quality of your quilting is directly related to the quality and integrity of the
                        quilt top and back. I know that no quilt is perfect and I always do our best with each quilt. I promise to
                        try to make any flaws as inconspicuous as possible. Please know that I cannot be held responsible for
                        problems that arise from: holes in seams, thick points, dark threads that may show through, fullness in
                        the border and/or quilt, or any other problems that arise outside of our control.
                    </pre>
                  </mat-expansion-panel>

                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       <h3>Quilting services offered</h3>
                      </mat-panel-title>
                      <mat-panel-description>
                       This will go through step by step on how to get an estamate of what your 
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <pre>
                        Quilt Services offered: Machine Quilting
                        I offer in-shop long-arm quilting services.  My prices begin at 1-1/2 cents per sq. inch for a
                        simple edge-to-edge design on up to 3-1/2 cents for a more complicated design with
                        blocks, sashing and borders.  Pricing varies on the difficulty of the quilt design and space -
                        - the more dense the quilting, the higher the price.  Minimum charge is $35.00
                        
                        Custom Embroidery
                        I am happy to custom embroider names, baby names and birth weight, dates, baptism
                        towels, quilt block labels, etc.  Prices start at $10.00.
                    </pre>
                  </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     <h3>Pricing</h3>
                    </mat-panel-title>
                    <mat-panel-description>
                     This will go through step by step on how to get an estamate of what your 
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre>
                
                    1. Calculate the area of your quilt
                    Multiply length x width in inches. (Ex. a twin quilt measuring 72″ x 90″ is 6,480 square inches)
                    
                    2. Multiply the area of your quilt by the price per square inch
                    (Ex. for basic edge to edge quilting it would be $.015/sq. inch or 6480 x $.015 = $97.20 for a twin quilt)
                    Pricing varies depending on the complexity or density of the quilting pattern chosen.
                    Edge to edge Computerized ---> $0.015-0.035/sq inch depending on design (see patterns
                    page)
                    Edge to edge Freemotion ---> $0.02-0.035/sq inch depending on design
                    Custom quilting (freemotion and computerized) ---> $0.05/sq inch and up
                    Minimum charge ---> $45.00 for basic overall quilting
                    Custom minimum charge ---> $125.00
                    
                    3. Add the cost of thread
                    I charge for thread to enable me to offer a wide variety of thread colors. I charge 1.25 per bobbin used.
                    Below are close to what it would charge for certain sizes.
                    Baby and Lap ---> $4.00
                    Twin ---> $6.00
                    Queen ---> $8.00
                    King ---> $10.00
                    
                    4. Add optional batting charges
                    Feel free to bring your own batting or you can purchase mine. I usually use the shortest side of the quilt
                    to measure out batting. So it is safe to assume you will use this much batting. (ie if your quilt is 92X70, I
                    would cut 75 (five extra for quilting) inches of batting. 75/36 = 2.08yds. I return all extra batting and
                    backing to the customer.
                    6 oz 100% Bamboo ...$14.99/yd
                    80/20 Blend... $10.99/yd
                    100% Wool..... $14.99/yd
                    
                    5. Add optional binding charges
                    To calculate binding you need to find the linear inches. Just add all 4 sides together and multiply that
                    number by the price. You will need to provide the fabric for binding. To find out how much fabric you
                    need for your quilt, follow this formula.
                    (Width of quilt x 2) plus (Length of quilt x 2) plus (15&quot;extra) = Total inches needed
                    (Total inches needed) divided into the width of fabric you are going to use for your binding. most are
                    42&quot;)
                    Lets say your quilt is 80&quot;X 90&quot;
                    160&quot; + 180&quot; + 15&quot; = 355&quot;
                    355&quot;&#39; / 42&quot;
                    8.45 total strips
                    Binding is cut 2.5&quot;
                    I round the 8.45 strips to 9 strips
                    9 strips x 2.5&quot; = 22.5&quot; - the total yardage you need to send for the binding on a quilt size 80 X 90.
                    If this is too confusing, just send a yard to be safe and all excess will be sent back to you!
                    Option 1 ...... $.15/inch Includes trimming the quilt, making the binding, and machine sewing it to the
                    top for the customer to hand sew later. ($.10/inch if you cut the binding and iron it in half lengthwise.
                    You sew the binding strips and press in half and I attach it to the front of quilt. (Quilt is returned to you,
                    ready for YOU to stitch the binding to the back of the quilt.)
                    Option 2 ...... $.25/linear inch includes trimming the quilt, making the binding, and machine sewing it
                    completely on the quilt.
                    Option 3 ...... $.35/linear inch includes trimming the quilt, making the binding, and hand sewing it
                    completely on the quilt.
                    There is a $45 minimum charge on options 2 &amp; 3.
                    
                    6. Add cost of extra services and surcharges
                    Ironing (only upon request) : $35.00/hr
                    Piecing the back of the quilt : $10.00 per seam
                    Ric rac fee : $5.00 and up
                    This fee is for lot of ric rac that needs to be tacked down or quilting on, it is a lot of extra work to do this.
                    It can sometimes double the time it takes to finish a quilt.
                                </pre>
                </mat-expansion-panel>
  
              
              </mat-accordion>
            
            
        
   


        </div>
    </div>
</div>
        